*.swp
*.bak
.DS_Store
bat/themes/
hypr/icons/
hypr/mocha.conf
hypr/macchiato.conf
nvim.bak/
nvim/*.lock
nvim/lazy-lock.json
nvim/lua/plugins/parrot.lua
nvim/.gitignore
zsh/plugins/
zsh/.zcompdump
zsh/.zhistory
zsh/.zsh_history
nushell/history.txt
